{
  "openapi": "3.0.3",
  "info": {
    "title": "Google Drive v3 (TulipFarm subset)",
    "version": "1.0.0",
    "description": "The read operations TulipFarm publishes as agent Tools. A deliberate subset of Google's spec: the full document carries the whole Drive surface, including writes this integration's declared scopes do not cover."
  },
  "servers": [{ "url": "https://www.googleapis.com/drive/v3" }],
  "paths": {
    "/files": {
      "get": {
        "operationId": "listFiles",
        "summary": "Search or list files.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Drive query, e.g. name contains 'roadmap', or mimeType = 'application/vnd.google-apps.document' and modifiedTime > '2026-01-01T00:00:00'. Omit to list everything visible."
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": { "type": "integer", "default": 25 },
            "description": "Maximum files to return."
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Sort order, e.g. modifiedTime desc."
          },
          {
            "name": "fields",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Fields to return. Default returns id, name, mimeType, and modifiedTime."
          }
        ],
        "responses": {
          "200": {
            "description": "Matching files.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "mimeType": { "type": "string" },
                          "modifiedTime": { "type": "string" },
                          "webViewLink": { "type": "string" },
                          "owners": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "displayName": { "type": "string" },
                                "emailAddress": { "type": "string" }
                              }
                            }
                          }
                        }
                      }
                    },
                    "nextPageToken": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/files/{fileId}": {
      "get": {
        "operationId": "getFile",
        "summary": "Read one file's metadata.",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Drive file id. Get it from search_files."
          },
          {
            "name": "fields",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Fields to return, e.g. id,name,mimeType,owners,permissions,webViewLink."
          }
        ],
        "responses": {
          "200": {
            "description": "The file.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "name": { "type": "string" },
                    "mimeType": { "type": "string" },
                    "modifiedTime": { "type": "string" },
                    "webViewLink": { "type": "string" },
                    "owners": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "displayName": { "type": "string" },
                          "emailAddress": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
