{
  "openapi": "3.0.3",
  "info": {
    "title": "Telegram Bot API (TulipFarm subset)",
    "version": "1.0.0",
    "description": "The operations TulipFarm publishes as agent Tools. Hand-written rather than vendored: Telegram publishes no OpenAPI document, and a generated one would carry hundreds of methods no integration should be able to call. The bot token is part of the path, supplied by the manifest's egress.auth base_url placement \u2014 it is never an operation parameter, so an agent can neither read nor choose it. Numeric ids are declared as strings: Telegram accepts string-encoded integers on every content type it supports, and the ids arriving from an update are already strings by the time a reply binding renders them. Declaring them as integers would make the framework's own reply bindings fail schema validation before a request was ever sent."
  },
  "servers": [
    {
      "url": "https://api.telegram.org"
    }
  ],
  "paths": {
    "/sendMessage": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a message to a chat.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["chat_id", "text"],
                "properties": {
                  "chat_id": {
                    "type": "string",
                    "description": "Target chat: numeric id, or @channelusername for a public channel."
                  },
                  "text": {
                    "type": "string",
                    "description": "Message text, 1-4096 characters after entity parsing."
                  },
                  "parse_mode": {
                    "type": "string",
                    "enum": ["MarkdownV2", "HTML"],
                    "description": "How to interpret formatting in text. Omit for plain text."
                  },
                  "reply_to_message_id": {
                    "type": "string",
                    "description": "Numeric id of the message this one replies to, as a string, keeping the exchange in one thread."
                  },
                  "message_thread_id": {
                    "type": "string",
                    "description": "Numeric id of the forum topic to post into, as a string, for supergroups with topics enabled."
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Deliver silently, without a notification sound."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The sent message.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "message_id": {
                          "type": "integer"
                        },
                        "date": {
                          "type": "integer"
                        },
                        "text": {
                          "type": "string"
                        },
                        "chat": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "type": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getChat": {
      "post": {
        "operationId": "getChat",
        "summary": "Look up a chat's title, type, and description.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["chat_id"],
                "properties": {
                  "chat_id": {
                    "type": "string",
                    "description": "Target chat: numeric id, or @channelusername for a public channel."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The chat.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getChatMember": {
      "post": {
        "operationId": "getChatMember",
        "summary": "Look up one member of a chat, including their display name and status.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["chat_id", "user_id"],
                "properties": {
                  "chat_id": {
                    "type": "string",
                    "description": "Chat the member belongs to."
                  },
                  "user_id": {
                    "type": "string",
                    "description": "Numeric Telegram user id, as a string."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The chat member.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "user": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "is_bot": {
                              "type": "boolean"
                            },
                            "first_name": {
                              "type": "string"
                            },
                            "last_name": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
