{
  "openapi": "3.0.3",
  "info": {
    "title": "Notion API (TulipFarm subset)",
    "version": "2022-06-28",
    "description": "A hand-trimmed subset of https://developers.notion.com covering search, page read/write, block content, and database query. Notion publishes no machine-readable OpenAPI document, so this is maintained here. Only operations listed in manifest.yml's egress.operations are published as Tools; anything added below is inert until it is named there."
  },
  "servers": [{ "url": "https://api.notion.com/v1" }],
  "components": {
    "schemas": {
      "RichText": {
        "type": "array",
        "description": "Notion rich text. The simplest usable form is [{\"type\":\"text\",\"text\":{\"content\":\"...\"}}].",
        "items": { "type": "object", "additionalProperties": true }
      },
      "Block": {
        "type": "object",
        "description": "One block. `type` names the block kind and a sibling key of the same name carries its content, e.g. {\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[...]}}.",
        "additionalProperties": true
      },
      "PaginatedList": {
        "type": "object",
        "properties": {
          "object": { "type": "string" },
          "results": {
            "type": "array",
            "items": { "type": "object", "additionalProperties": true }
          },
          "next_cursor": { "type": "string", "nullable": true },
          "has_more": { "type": "boolean" }
        },
        "additionalProperties": true
      },
      "Page": {
        "type": "object",
        "properties": {
          "object": { "type": "string" },
          "id": { "type": "string" },
          "url": { "type": "string" },
          "archived": { "type": "boolean" },
          "created_time": { "type": "string" },
          "last_edited_time": { "type": "string" },
          "properties": { "type": "object", "additionalProperties": true },
          "parent": { "type": "object", "additionalProperties": true }
        },
        "additionalProperties": true
      }
    }
  },
  "paths": {
    "/search": {
      "post": {
        "operationId": "search",
        "summary": "Search pages and databases shared with the integration.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Text matched against page and database titles. Omit to list everything shared with the integration."
                  },
                  "filter": {
                    "type": "object",
                    "description": "Restrict results to one object kind.",
                    "properties": {
                      "value": { "type": "string", "enum": ["page", "database"] },
                      "property": { "type": "string", "enum": ["object"] }
                    },
                    "required": ["value", "property"]
                  },
                  "sort": {
                    "type": "object",
                    "properties": {
                      "direction": { "type": "string", "enum": ["ascending", "descending"] },
                      "timestamp": { "type": "string", "enum": ["last_edited_time"] }
                    },
                    "required": ["direction", "timestamp"]
                  },
                  "start_cursor": {
                    "type": "string",
                    "description": "`next_cursor` from a previous response."
                  },
                  "page_size": { "type": "integer", "minimum": 1, "maximum": 100 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matching pages and databases.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedList" } }
            }
          }
        }
      }
    },
    "/pages/{page_id}": {
      "get": {
        "operationId": "retrievePage",
        "summary": "Retrieve a page's properties (not its body content).",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "description": "Page id, with or without dashes.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "The page.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Page" } } }
          }
        }
      },
      "patch": {
        "operationId": "updatePage",
        "summary": "Update a page's properties, or archive it.",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "properties": {
                    "type": "object",
                    "description": "Property values keyed by property name, in Notion's property-value shape.",
                    "additionalProperties": true
                  },
                  "archived": {
                    "type": "boolean",
                    "description": "Set true to move the page to trash."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated page.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Page" } } }
          }
        }
      }
    },
    "/pages": {
      "post": {
        "operationId": "createPage",
        "summary": "Create a page under a page or database parent.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["parent", "properties"],
                "properties": {
                  "parent": {
                    "type": "object",
                    "description": "Exactly one of {\"page_id\":\"...\"} or {\"database_id\":\"...\"}.",
                    "additionalProperties": true
                  },
                  "properties": {
                    "type": "object",
                    "description": "Under a page parent this is just {\"title\":{\"title\":[{\"text\":{\"content\":\"...\"}}]}}. Under a database parent every key must match a column in that database's schema — retrieve it first.",
                    "additionalProperties": true
                  },
                  "children": {
                    "type": "array",
                    "description": "Initial body blocks.",
                    "items": { "$ref": "#/components/schemas/Block" }
                  },
                  "icon": { "type": "object", "additionalProperties": true },
                  "cover": { "type": "object", "additionalProperties": true }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created page.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Page" } } }
          }
        }
      }
    },
    "/blocks/{block_id}/children": {
      "get": {
        "operationId": "listBlockChildren",
        "summary": "Read the body content of a page or block.",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "required": true,
            "description": "A page id reads that page's body; a block id reads that block's children.",
            "schema": { "type": "string" }
          },
          {
            "name": "start_cursor",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "The child blocks.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedList" } }
            }
          }
        }
      },
      "patch": {
        "operationId": "appendBlockChildren",
        "summary": "Append content blocks to a page or block.",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["children"],
                "properties": {
                  "children": {
                    "type": "array",
                    "description": "Blocks to append, in order.",
                    "items": { "$ref": "#/components/schemas/Block" }
                  },
                  "after": {
                    "type": "string",
                    "description": "Insert after this existing child block id instead of at the end."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The appended blocks.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedList" } }
            }
          }
        }
      }
    },
    "/databases/{database_id}": {
      "get": {
        "operationId": "retrieveDatabase",
        "summary": "Retrieve a database's schema — the columns and their types.",
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "The database, including its `properties` schema.",
            "content": {
              "application/json": { "schema": { "type": "object", "additionalProperties": true } }
            }
          }
        }
      }
    },
    "/databases/{database_id}/query": {
      "post": {
        "operationId": "queryDatabase",
        "summary": "List database rows, optionally filtered and sorted.",
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object",
                    "description": "Notion filter object. Property names and condition keys depend on the database schema — retrieve it first.",
                    "additionalProperties": true
                  },
                  "sorts": {
                    "type": "array",
                    "items": { "type": "object", "additionalProperties": true }
                  },
                  "start_cursor": { "type": "string" },
                  "page_size": { "type": "integer", "minimum": 1, "maximum": 100 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matching rows as pages.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedList" } }
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "operationId": "retrieveBotUser",
        "summary": "Identify the integration the current token belongs to.",
        "responses": {
          "200": {
            "description": "The bot user.",
            "content": {
              "application/json": { "schema": { "type": "object", "additionalProperties": true } }
            }
          }
        }
      }
    }
  }
}
