{
  "openapi": "3.0.3",
  "info": {
    "title": "Google Docs v1 (TulipFarm subset)",
    "version": "1.0.0",
    "description": "The read operation TulipFarm publishes as an agent Tool. Docs' batchUpdate is deliberately absent: this integration's declared scopes are read-only, and a write Tool against a read token would report edits that never happened."
  },
  "servers": [{ "url": "https://docs.googleapis.com/v1" }],
  "paths": {
    "/documents/{documentId}": {
      "get": {
        "operationId": "getDocument",
        "summary": "Read a document's title and body content.",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Google Docs document id — the long segment in a /document/d/<id>/edit URL."
          }
        ],
        "responses": {
          "200": {
            "description": "The document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documentId": { "type": "string" },
                    "title": { "type": "string" },
                    "revisionId": { "type": "string" },
                    "body": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "startIndex": { "type": "integer" },
                              "endIndex": { "type": "integer" },
                              "paragraph": {
                                "type": "object",
                                "properties": {
                                  "elements": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "textRun": {
                                          "type": "object",
                                          "properties": {
                                            "content": { "type": "string" }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
